.form {
	width: 80%;
	margin: 3% auto 0 auto;
}
.form>span.label {
	display: inline-block;
	width: 30%;
	height: 70px;
	text-align: center;
	color: #6dc3ea
	
}
.form>input.submit {
	display: inline-block;
	width: 20%;
	height: 50px;
	position: relative;
	left: 30%;
	border-right: 1px solid gray;
	font-size: 1.5em;
}
.form>.account-info {
	display: inline-block;
	width: 40%;
	height: 28px;
	border: 1px solid #6dc3ea;
}